@charset "UTF-8";
.msg-container{
    width: 100%;
    height: 800px;
    background-color: ivory;
}
.inbox_msg{
    width: 100%;
    height: 800px;
    background-color: aqua;
}
.inbox_people{
    width: 30%;
    float: left;
    height: 800px;
    background-color: orange;
}
.inbox_chat{
    width: 100%;
    height: 100%;
    float: left;    
    background-color: ivory;
}
.mesgs{
    width: 70%;
    float: left;
    height: 800px;
    background-color: darkcyan;
}
.msg_history{
    width: 100%;
    height: 600px;
    background-color:antiquewhite;
}
.send_message{
    width: 100%;
    height: 100px;
    background-color: darkslategray;
}

.chat_list_box {
	width: 100px;
	height: 100px;
	background-color: yellow;
}

.active_chat {
	width: auto;
	background-color: blue;
}