@charset "UTF-8";

/* 공통 */

body{
	margin:0;
	font-family: 'Nanum Gothic', monospace;
	background-color: #fbfbfb;
	color: #2e2e2e;
}

a {
	color: #2e2e2e;
	text-decoration: none;
	line-height: 2em;
}

li {
	color: #2e2e2e;
	line-height: 2em;
	list-style: none;
}

ul {
	padding: 0;
}

/* 헤더 */

header{
	position: fixed;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 90px;
	padding-top: 35px;
	background-color: white;
	box-shadow: 0 -2px 12px 0 #e2e2e2;
}

.navbar{
	width: 1050px;
	height: 90px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.nav__left{
	width: 23%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.nav__left:first-child{
	color: #404040;
	font-size: 2rem;
	cursor: pointer;
}

.nav__logo {
	padding-left: 10%;
	display: flex;
	align-items: center;
	color: grey;
	cursor: pointer;
	/* 로고 생기면 지울 부분 */
	font-size: 2rem;
	font-weight: bolder;
}

.nav__logo > i{
	color: #fadd85;
	font-size: 4rem;
}

.nav__search{
	width: 40%;
	height: 40px;
	margin: 0 1%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border: 2px solid #f8cb45;
	border-radius: 10px;
}

.nav__searchbox, .nav__searchbox:focus{
	width: 80%;
	height: 80%;
	border: none;
	outline: none;
	font-size: 1em;
}

.nav__search-form{
	width: 95%;
	height: 90%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__search i{
	color: #f8cb45;
	font-size: 1.5rem;
	cursor: pointer;
}

.search-btn{
	border: none;
	outline: none;
	background-color: transparent;
}

.nav__personal {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	
}

/* 사이드 메뉴 */

.side-menu{
	display: none;
}

.side-menu.active{
	position: fixed;
	top: 125px;
	z-index: 1;
	overflow-y : auto;
	width: 12%;
	max-height: 80vh;
	padding: 2% 1% 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: white;
}

.side__user{
	width: 100%;
	font-weight: bolder;
}

.side__categories, .side-menu ul, .side__socials{
	width: 100%;
}

.side-menu li{
	width: 100%;
	cursor: pointer;
}

.side-menu li:hover{
	font-weight: bold;
}

/* container */
.container{
	width: 1050px;
	min-height: 55vh;
	margin: 30px auto;
	margin-top: 125px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* footer */

.footer{
	bottom: 0;
	z-index: -1;
	width: 100%;
	height: 200px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	/* 테스트용 */
	background-color: #f0f0f0;
}

.footer__contents{
	width: 1050px;
	display: flex;
	flex-direction: row;
}




/* 섹션 사이즈 줄이는 구간 1 */

@media screen and (max-width: 85rem) {
	
	.navbar{
		width: 906px;
		height: 70px;
	}
	
	.nav__logo > i{
		color: #fadd85;
		font-size: 3rem;
	}
	
	.nav__logo span, .nav__left:first-child{
		font-size: 1.5rem;
	}
	
	.nav__search{
		width: 50%;
	}

	.nav__personal{
		font-size: 0.8rem;
	}	
	
	.side-menu.active{
		width: 20%;
	}

}

/* 섹션 사이즈 줄이는 구간 2 */

@media screen and (max-width: 60rem) {
	
	.navbar{
		width: 85vw;
		height: 6.5vw;
		padding-top: 10px;
	}
	
	.nav__logo span{
		display: none;
	}
	
	.side-menu.active{
		width: 40%;
	}
	
}

/* 섹션 사이즈 줄이는 구간 3 */

@media screen and (max-width: 31.25rem) {
	
	.nav__personal {
		display: none;
	}
	
	.nav__search {
		width: 70%;
	}
	
	.side-menu.active{
		width: 100%;
	}
	
		
}