@charset "UTF-8";

/* 홈 컨텐츠 */

.home-contents{
	width: 100%;
	margin: 0 auto;
	padding-top: 125px;
	padding-bottom: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home__carousel {
	width: 1210px;
	height: 350px;
	margin-bottom: 50px;
}

.carousel-img{
	width: 100%;
	height: 100%;
}

.section-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

.section-contents{
	width: 100%;
	max-width: 1230px;
	margin-bottom: 30px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

.prd__card{
	width: 285px;
	height: 285px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	cursor: pointer;
	/* 테스트용 */
	/* background-color: #d2eeff; */
}

.card__img{
	width: 100%;
	height: 62%;
	/* 테스트용 */	
	background-color: white;
	border: 1px solid #e6e6e6;
}

.card__info{
	width: 100%;
	height: 32%;
	border: 1px solid #e6e6e6;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	/* 테스트용 */	
	background-color: white;
}

.card__info div{
	padding: 2% 3%;
}

.info__name{
	width: 100%;
}

.info__price{
	font-weight: 800;
}

.info__date{
	font-size: 0.7em;
	color: grey;
}

.info__location{
	border-top: 1px solid #e6e6e6; 
	width: 100%;
	font-size: 0.8em;
}



.soc__article{
	width: 100vw;
	height: 100px;
	/* 테스트용 */
	background-color: #ffffd2;
}




/* 섹션 사이즈 줄이는 구간 1 */
@media screen and (max-width: 85rem) {
	
	.home__carousel{
		width: 906px;
		height: 280px;
	}
	
	.section-contents{
		max-width: 906px;
	}
	
	.prd__card{
		width: 206.5px;
		height: 206.5px;
		padding: 5px;
	}

	
}

/* 섹션 사이즈 줄이는 구간 2 */
@media screen and (max-width: 60rem) {

	.home__carousel{
		width: 85vw;
		height: 25.5vw;
	}
	
	.section-contents{
		max-width: 85vw;
	}
	
	.prd__card{
		width: 282.5px;
		height: 282.5px;
	}
	
}
