@charset "UTF-8";

.btn-noti{
	cursor: pointer;
}

.noti-container{
	min-height: 0;
	max-height: 0;
	width: 300px;
	position: absolute;
	z-index: 20;
	top: 41px;
	left: calc(750px + (100vw - 1050px)/2);
	background-color: white;
	transition: min-height 0.2s ease-out;
	overflow: hidden;
}

.noti-container.active{
	min-height: 600px;
	max-height: 600px;
	border: 1px solid #e6e6e6;
	border-top: none;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 7px 10px 3px rgba(0, 0, 0, 0.1);
}

.noti__card{
	width: 260px;
	min-height: 100px;
	font-size: 0.9rem;
	padding: 10px 20px;
	border-bottom: 1px solid #f5f5f5;
	cursor: pointer;
}

.noti__card:hover, .noti__card.read{
	background-color: #f5f5f5;
}

.noti__top-wrapper{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.noti__product-name{
	font-weight: 800;
}

.noti__del{
	border-bottom: 1px solid #e6e6e6;
}

.noti__del > a, .noti__date{
	color: grey;
}

.btn-accept{
	width: 40px;
	height: 20px;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
	text-align: center;
	line-height: 20px;
}

.btn-accept > a{
	all: unset;
	cursor: pointer;
}