@charset "UTF-8";

.container{
	/*background-color: white;*/
	margin-top: 165px;	
}

.top-container{
	width: 950px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.top__title{
	font-size: 1.5rem;
	font-weight: bold;
}

.top__form-search{
	width: 300px;
	display: flex;
	flex-direction: row;
}

.search__input{
	all: unset;
	display: block;
	width: 200px;
	height: 2rem;
	margin-left: 20px;
	padding: 0 0.5rem;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #aeaeae;
	outline: none;
	font-size: 0.9rem;
}

.btn-search{
	all: unset;
	display: block;
	width: 35px;
	height: 25px;
	margin-left: 5px;
	padding: 5px 10px;
	background-color: #fadd85;
	border-radius: 5px;
	color: white;
	text-align: center;
	cursor: pointer;
}

.notice-container{
	width: 950px;
	margin-top: 30px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
}

.ntc__card{
	width: 920px;
	min-height: 45px;
	padding: 15px;
	background-color: white;
	border-bottom: 1px solid #e6e6e6;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ntc__left{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ntc__title{
	font-weight: bold;
	padding-bottom: 5px;
}

.ntc__date{
	font-size: 0.9rem;
}


.ntc__card > i{
	position: relative;
	top: 0.8rem;
	right: 20px;
	z-index: 2;
	font-size: 1.3rem;
	color: #b4b4b4;
	pointer-events: none;
}

.content-wrapper{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

.content-wrapper.active{
	max-height: 500px;
	overflow: auto;
	transition: max-height 0.2s ease-in;
	border-bottom: 1px solid #e6e6e6;
}

.ntc__content{
	padding: 15px;
}