@charset "UTF-8";

.container{
	padding-top: 125px;
	width: 1210px;
	min-height: 55vh;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}

.top-container{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.top__images{
	width: 400px;
	height: 400px;
	padding: 40px;
}

.image{
	width: 400px;
	height: 400px;
}

.top__info{
	width: 430px;
	padding: 40px;
	display: flex;
	flex-flow: column;
}

.top__productName{
	width: 100%;
	padding: 20px 0;
	font-size: 2.5em;
	font-weight: 800;
}

.priceNstatus{
	width: 100%;
	padding-bottom: 20px;
	border-bottom: 1px solid #b4b4b4;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.top__price{
	font-size: 2em;
	font-weight: 800;
}

.top__status{
	width: 60px;
	height: 25px;
	padding: 2px 3px;
	border-radius: 5px;
	background-color: green;
	opacity: 0.7;
	color: white;
	font-weight: 400;
	text-align: center;
	line-height: 25px;
}

.top__hitNheart{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.top__hit, .top__heart{
	padding: 10px;
}

.top__productDate, .top__location{
	width: 100%;
	padding: 10px;
}

.top__btns{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.top-btn{
	width: 120px;
	height: 40px;
	margin: 10px;
	border: 1px solid grey;
}

.seller-container{
	width: 910px;
	padding: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;
}

.seller__photo, .seller__photo img {
	width: 80px;
	height: 80px;
	border-radius: 70%;
}

.seller_name{
	padding: 0 60px 0 20px;
	font-size: 1.2em;
	font-weight: 400px;
}

.seller_rating, .rating__content{
	display: flex;
	flex-direction: row;
}