@charset "UTF-8";

.top-container{
	width: 1010px;
	margin: 50px auto;
	padding: 0 20px;
	display: flex;
	flex-flow: row wrap;
	background-color: white;
}

.top__title{
	width: 12%;
}

.top__list{
	width: 83%;
	display: flex;
	flex-flow: row wrap;
}

.top__item-category{
	width: 160px;
	padding: 0 10px;
}

.top__item-location{
	padding: 0 30px 0 10px;
}

.selected{
	font-weight: 800;
}

.list-container{
	width: 1060px;
	display: flex;
	flex-direction: column;
}

.order-container{
	width: 1060px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.order-content{
	padding: 0 5px;
}

.product-container{
	width: 1060px;
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}

/* 섹션 사이즈 줄이는 구간 1 */
@media screen and (max-width: 85rem) {
	
	.product-container {
		max-width: 906px;
	}
	
	.prd__card {
		width: 206.5px;
		height: 206.5px;
		padding: 5px;
	}

	
}

/* 섹션 사이즈 줄이는 구간 2 */
@media screen and (max-width: 60rem) {
	
	.product-container {
		max-width: 85vw;
		justify-content: center;
	}
	
	.prd__card {
		width: 282.5px;
		height: 282.5px;
	}
	
}