@charset "UTF-8";

.container{
	margin-top: 155px;
	background-color: white;
}

.info-container{
	width: 950px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.insert-form{
	width: 950px;
}

.title{
	padding-top: 50px;
	padding-bottom: 30px;
	align-self: flex-start;
	font-size: 1.2rem;
	font-weight: bold;
}

.info__product{
	padding: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 1px solid #c6c6c6;
	cursor: pointer;
}

.product__img{
	width: 60px;
	height: 60px;
}

.product__nameNprice{
	padding-left: 10px;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
}

.product__price{
	padding-top: 7px;
	font-weight: bold;
}

.rate-container{
	width: 950px;
}

.rate-title{
	padding: 20px 0;
}

.rate-front, .star-front{

	height: 0;
}

.rate-back{
	display: flex;
	justify-content: flex-start;
}

.star-back i{
	font-size: 2rem;
	color: #e8e8e8;
	cursor:pointer;
}

.star-front i{
	width: 1.1rem;
	margin-right: 0.87rem;
	overflow: hidden;	
	font-size: 2rem;
  position: relative;
	top: -2rem;
	color: transparent;
	cursor: pointer;
}

.star-front.half i{
	color: #fadd85;
}

.star-back.full i{
	width: 2.25rem;
	margin-right: 0;
	color: #fadd85;
}


.review-content{
	all: unset;
	width: 930px;
	min-height: 300px;
	padding: 10px;
	border: 1px solid #c6c6c6;
	line-height: 1.6rem;
}

.btn-wrapper{
	width: 950px;
	display: flex;
	justify-content: flex-end;
}

.btn-submit{
	all: unset;
	width: 100px;
	height: 50px;
	margin: 50px 0;
	border-radius: 5px;
	background-color: #fadd85;
	color: #fbfbfb;
	font-size: 1.3rem;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	line-height: 100%;
}