@charset "UTF-8";

.container{
	width: 350px;
	padding-top: 125px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.logo{
	width: 100%;
	padding: 30px 0;
	margin: 10px 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-bottom: 1px solid #e6e6e6;
}

.logo i{
	color: #fadd85;
	font-size: 4rem;
}

.logo span{
	color: grey;
	font-size: 2rem;
	font-weight: bold;
}

.form-group{
	color: #2e2e2e;
	font-weight: 800;
	padding: 14px 18px;
}


.form-control{
	width: 306px;
	height: 2rem;
	margin-top: 8px;
	padding: 0 0.5em;
	border-radius: 5px;
	border: 1px solid #aeaeae;
	outline: none;
}

.login-btn, .join-btn{
	width: 320px;
	padding: 0 18px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.btn-wide{
	width: 100%;
	height: 35px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	font-size: 1.1rem;
}

.login-btn *, .join-btn *{
	margin: 10px 0;
}

.btn-submit{
	background-color: #f8cb45;
	opacity: 0.7;
	border: 2px solid #f8cb45;
}

.btn-naver{
	background-color: transparent;
	border: 2px solid #1dc039;
	color: #1dc039;
}

.btn-kakao{
	background-color: transparent;
	border: 2px solid #f8cb45;
	color: #f8cb45;
}