@charset "UTF-8";

.container {
	padding-top: 125px;
	width: 1252px;
	min-height: 55vh;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hidden {
	display: none;
}

.category-container {
	width: 1170px;
	margin: 30px auto;
	padding: 0 80px;
	display: flex;
	flex-flow: row wrap;
	background-color: white;
}

.category-list li {
	background-color: #fadd85;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #fadd85;
	list-style-type: none;
	float: left;
	margin-left: 40px;
	display: inline;
	font-size: 12pt;
}

.table-box {
	border: 3px solid #f8cb45;
	width: 80%;
	height: auto;
	margin-left: 7%;
	margin-bottom: 2%;
	padding: 0 0 0 0;
	color: black;
	text-align: center;
	font-size: 12pt;
}
