@charset "UTF-8";

.container{
	padding-top: 125px;
	width: 1210px;
	min-height: 55vh;
	margin: 30px auto;
}

.profile-container{
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.profile__photo{
	width: 240px;
	height: 240px;
	border-radius: 70%;
	display: flex;
	overflow: visible;
	cursor: pointer;
}

.profile__img{
	position: absolute;
	top: 185px;
	z-index: 0;
	width: 240px;
	height: 240px;
	border-radius: 70%;
}

.profile-hover{
	position: absolute;
	top: 185px;
	z-index: 1;
	width: 240px;
	height: 240px;
	text-align: center;
	line-height: 240px;
	border-radius: 70%;
	opacity: 0;
}

.profile-hover:hover{
	display: block;
	background-color: black;
	opacity: 0.4;
	color: white;
	font-size: 1.5em;
	font-weight: bold;
}

.profile__form{
	display: none;
}

.profile__info{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

.profile__name{
	font-size: 1.7em;
	font-weight: 800;
	padding: 20px;
}

.profile__location{
	font-size: 0.9em;
	padding: 4px 20px;
}

.profile__joinDate{
	font-size: 0.9em;	
	padding: 4px 20px;
}

.profile__rating div{
	padding: 4px 20px;
}



.board-container{
	width: 100%;
	min-height: 40vh;
	margin-top: 30px;
}

.board__nav{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #b4b4b4;
	border: 1px solid #b4b4b4;
	border-bottom: none;
}

.nav__item{
	width: 20%;
	height: 100%;
	background-color: white;
	border-right: 1px solid #b4b4b4;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	cursor: pointer;
}

/*
.nav__selected{
	background-color: #fadd85;
	color: white;
}
*/

.board__contents{
	width: 100%;
	height: 500px; /* 나중에 확인 */
	border: 1px solid #b4b4b4;
}