@charset "UTF-8";

.container{
	padding-top: 125px;
	width: 1210px;
	min-height: 55vh;
	margin: 30px auto;
}

.profile-container{
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	align-items: center;

}

.profile__photo{
	width: 240px;
	height: 240px;
	border-radius: 70%;
}

.profile__info{
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
}

.profile__name{
	font-size: 1.7em;
	font-weight: 800;
	padding: 20px;
}

.profile__location{
	font-size: 0.9em;
	padding: 4px 20px;
}

.profile__joinDate{
	font-size: 0.9em;	
	padding: 4px 20px;
}

.profile__rating div{
	padding: 4px 20px;
}



.board-container{
	width: 100%;
	min-height: 40vh;
	margin-top: 30px;
}

.board__nav{
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	background-color: #b4b4b4;
	border: 1px solid #b4b4b4;
}

.nav__item{
	width: 20%;
	height: 100%;
	background-color: white;
	border-right: 1px solid #b4b4b4;
}

.board__contents{
	width: 100%;
	height: 500px; /* 나중에 확인 */
	border: 1px solid #b4b4b4;
}