@charset "UTF-8";

.scl__card {
	width: 968px;
	height: 180px;
	margin: 10px auto;
	padding: 20px;
	border: 1px solid #e6e6e6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
	cursor: pointer;
	background-color: white;
}

.scl__top-wrapper{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 0;
}

.scl__title{
	width: 500px;
	font-size: 1.1rem;
	font-weight: 800;
}

.scl__date {
	font-size: 0.95rem;
	color: grey;
}

.scl__mid-wrapper{
	display: flex;
	flex-direction: row;
}

.scl__mid-wrapper > *{
	font-size: 0.95rem;
	color: grey;
	padding-right: 6px;
}

.scl__content{
	width: 968px;
	height: 43px;
	margin: 20px 0;
	display: -webkit-box;
	overflow: hidden;
	word-wrap: break-word;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.scl__response{
	width: 100%;
	border-top: 1px solid #e6e6e6;
	display: flex;
	flex-direction: row;
	padding: 10px;
}

.scl__response > *{
	font-size: 0.95rem;
	color: grey;
	padding-right: 12px;
}