<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="com.mm.market.social.SocialVO" alias="SocialVO" />
		<typeAlias type="com.mm.market.social.SocialFileVO" alias="SocialFileVO" />
		<typeAlias type="com.mm.market.comment.CommentVO" alias="CommentVO" />
		<typeAlias type="com.mm.market.socialCategory.SocialCategoryVO" alias="SocialCategoryVO"/>
		<typeAlias type="com.mm.market.util.Pager" alias="Pager" />
	</typeAliases>
</configuration>