<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mm.market.product.ProductMapper">
		<delete id="setDelete" parameterType="ProductVO">
			delete from product where productNum=#{productNum}
		</delete>
		
		<insert id="setInsert" parameterType="ProductVO">
			insert into product (productNum, productName, username, productCategory, productDate, productContent, productStatus, productPrice, productNego, locationCode) 
				values(#{productNum}, #{productName}, #{username}, #{productCategory}, now(), #{productContent}, #{productStatus}, #{productPrice}, #{productNego}, #{locationCode})
		</insert>

</mapper>   

