<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- 바로 쓸 경우가 아니면 mapper는 미리 쓰지 말고 비워주세용 -->

<mapper namespace ="com.mm.market.chat.ChatMapper">
 	<insert id="addchatRoom" parameterType="chatRoom" useGeneratedKeys="true" keyProperty="chatNum">
 		insert into chatRoom(productNum, sellerId, buyerId, fileName, createdDate, sellerName, buyerName, chatReadBuy, chatReadSell)
 		values (#{productNum}, #{sellerId}, #{buyerId}, #{fileName}, #{createdDate}, #{sellerName}, #{buyerName}, 1, 1)
 	</insert>
 	
 	<select id="findByUsername" resultType="ChatList">
 		SELECT C.*,P.*
		FROM chatRoom C LEFT JOIN product P
     	ON c.productNum = p.productNum
    	WHERE c.sellerid = #{username}
   		OR c.buyerid = #{username};
 	</select>
 	
 	
 	<select id="findByChatNum" resultType="chatRoom">
 		select * from chatRoom where productNum=#{productNum} and buyerId=#{buyerId}
 	</select>
 	
 	<select id="countByChatNum" resultType="Long">
 		select count(*) from chatRoom where productNum=#{productNum} and buyerId=#{buyerId}
 	</select>
	
	
	<select id="getChatNum" resultType="Long">
		select chatNum from chatRoom where productNum=#{productNum} and buyerId=#{buyerId}
	</select>
	
	<update id="updateFileName">
		update chatRoom set fileName=#{fileName} where chatNum=#{chatNum}
	</update>
	
	<update id="updateChatReadBuy">
		update chatRoom set chatReadBuy = #{chatReadBuy} where chatNum=#{chatNum}
	</update>
	
	<update id="updateChatReadSell">
		update chatRoom set chatReadSell=#{chatReadSell} where chatNum=#{chatNum}
	</update>

	<select id="getUnreadMessages" resultType="int">
		select count(chatNum) from chatRoom 
		where (sellerId=#{username} and chatReadSell=0) 
		or (buyerId#{usernane} and chatReadBuy=0)
	</select>
	
	
	
	
</mapper>