<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mm.market.comment.CommentMapper">
	<select id="commentCount" resultType="com.mm.market.comment.CommentVO">
		select count(*) from comment
	</select>

	<select id="commentList" resultType="com.mm.market.comment.CommentVO">
		select * from comment
	</select>

	<insert id="commentInsert" parameterType="com.mm.market.comment.CommentVO">
		insert into comment (commentNum, socialNum, username, commentDate, commentContent)
		values (#{commentNum}, #{socialNum}, #{username}, now(), #{commentContent})
	</insert>
	
	<update id="commentUpdate" parameterType="com.mm.market.comment.CommentVO">
		update comment set commentContent=#{commentContent}
		where commentNum=#{commentNum}
	</update>

	<delete id="commentDelete" parameterType="com.mm.market.comment.CommentVO">
		delete from comment where commentNum=#{commentNum}
	</delete>
</mapper>
