<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.mm.market.message.MessageMapper">

	<select id="messagelist" parameterType="MessageVO" resultType="MessageVO">
		select no, room, sendName, recvName, sendTime, readTime, msgContent, readCheck
		from message
		where no in (select max(no) from message group by room) and (sendName =	#{userName} or recvName=#{userName})
		order by no desc
	</select>


	<select id="getOtherProfile" parameterType="MessageVO"
		resultType="String">
		select profile from user
		<choose>
			<when test="sendname == username">
				where userName = #{recvName}
			</when>
			<otherwise>
				where userName = #{sendName}
			</otherwise>
		</choose>
	</select>


	<select id="countUnread" parameterType="MessageVO"
		resultType="Int">
		select msgCount(no) from message
		where recvName=#{userName} and readCheck=0 and room=#{room}
	</select>


	<select id="roomContentList" parameterType="MessageVO"
		resultType="MessageVO">
		select m.no, m.room, m.sendName, m.recvName, m.sendTime, m.readTime,
		m.msgContent, m.readCheck, u.name
		from message m left outer join member u
		on m.sendName = u.userName
		<choose>
			<when test="room != 0">
				where room=#{room}
			</when>
			<otherwise>
				where (recv_nick = #{recv_nick} and send_nick = #{nick}) or (send_nick =
				#{recv_nick} and recv_nick = #{nick})
			</otherwise>
		</choose>

	</select>


	<update id="message_read_chk"
		parameterType="MessageVO">
		update message set read_chk=1
		<choose>
			<when test="room != 0">
				where room=#{room} and read_chk=0 and recv_nick=#{nick}
			</when>
			<otherwise>
				where send_nick=#{recv_nick} and read_chk=0 and recv_nick=#{nick}
			</otherwise>
		</choose>

	</update>


	<insert id="messageSendInlist"
		parameterType="MessageVO">
		<choose>
			<when test="room != 0">
				insert into message values(0, #{room}, #{send_nick}, #{recv_nick}, now(),
				now(), #{content}, 0);
			</when>
			<otherwise>
				insert into message values(0, #{room}, #{send_nick}, #{recv_nick}, now(),
				now(), #{content}, 0);
			</otherwise>
		</choose>
	</insert>


	<select id="max_room"
		parameterType="MessageVO" resultType="Int">
		select max(room) from message
	</select>


	<select id="exist_chat"
		parameterType="MessageVO" resultType="Int">
		select count(no) from message
		where (recv_nick = #{recv_nick} and send_nick=#{send_nick}) or (send_nick =
		#{recv_nick} and recv_nick=#{send_nick})
	</select>


	<select id="select_room"
		parameterType="MessageVO" resultType="String">
		select room from message
		where (recv_nick = #{recv_nick} and send_nick=#{send_nick}) or (send_nick =
		#{recv_nick} and recv_nick=#{send_nick})
		limit 0,1
	</select>

</mapper>