<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mm.market.notification.NotificationMapper">

	<!-- 알림 리스트 -->
	<select id="notiList" parameterType="NotificationVO" resultType="NotificationVO">
		select N.notiNum, N.notiSendUser, N.notiRecvUser, date_format(N.notiSendTime, '%Y.%m.%d %H:%i') notiSendTime, N.notiContent, N.notiReadChk, MF.fileName 
		from notification N left outer join MemberFile MF
		on N.notiRecvUser = MF.username
		where N.notiRecvUser=#{notiRecvUser}
		order by num desc
	</select>
	
	<!-- list에서 상대방 profile 가져오기 -->
	<select id="getOtherProfile" parameterType="NotificationVO" resultType="String">
		select fileName from MemberFile
		where username = #{notiSendUser}
	</select>
	
	<!-- 안읽은 알림 갯수 가져오기 -->
	<select id="countUnread" parameterType="NotificationVO" resultType="Int">
		select count(notiNum) from notification
		where notiRecvUser=#{username} and noriReadChk=0 
	</select>
	
	<!-- 알림 읽음 처리 -->
	<update id="notiReadChk" parameterType="NotificationVO">
		update notification set notiReadChk=1
		where notiReadChk=0 and notiRecvUser=#{username}
	</update>
	
	<!-- 알림 보내기 -->
	<insert id="notiSendInList" parameterType="NotificationVO">
		insert into notification values(0, #{notiSendUser}, #{notiRecvUser}, now(), #{notiContent}, 0)	
	</insert>
	
</mapper>   

