<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mm.market.product.ProductMapper">
		
		
		<select id="getList" resultMap="selectResult" parameterType="Pager">
			SELECT C.*, P.*, PF.*, L.*
			FROM product P LEFT JOIN productFile PF
			ON P.productNum = PF.productNum
			INNER JOIN category C
			ON C.categoryCode = P.categoryCode
			LEFT JOIN Location L
			ON P.locationCode = L.locationCode
			WHERE 
			<if test="categoryCode != 0L">
				C.categoryCode=#{categoryCode} AND 		
			</if>

      (P.productName LIKE CONCAT('%', #{search}, '%') OR 
      P.locationCode IN (SELECT locationCode FROM location WHERE locationName LIKE concat('%', #{search}, '%')))
      ORDER BY P.productNum desc
      limit #{startRow}, 20
    </select>
		
		<select id="getSelect" parameterType="ProductVO" resultMap="selectResult">
			SELECT C.*, P.*, PF.*, L.*
			FROM product P LEFT JOIN productFile PF
			ON P.productNum = PF.productNum
			INNER JOIN category C
			ON C.categoryCode = P.categoryCode
			INNER JOIN location L
			ON P.locationCode = L.locationCode
			WHERE P.productNum=#{productNum}
		</select>
		
		<resultMap type="ProductVO" id="selectResult">
			<id property="productNum" column="productNum"></id>
			<result property="productName" column="productName"/>
			<result property="username" column="username"/>
			<result property="categoryCode" column="categoryCode"/>
			<result property="productDate" column="productDate"/>
			<result property="productHit" column="productHit"/>
			<result property="productHeart" column="productHeart"/>
			<result property="productContent" column="productContent"/>
			<result property="productStatus" column="productStatus"/>
			<result property="productPrice" column="productPrice"/>
			<result property="productNego" column="productNego"/>
			<result property="locationCode" column="locationCode"/>
			<association property="category" javaType="CategoryVO">
				<id property="categoryCode" column="categoryCode"/>
				<result property="categoryName" column="categoryName"/>
			</association>
			<association property="location" javaType="LocationVO">
				<id property="locationCode" column="locationCode"/>
				<result property="locationName" column="locationName"/>
			</association>
			<collection property="files" javaType="java.util.List" ofType="ProductFileVO">
				<id property="fileNum" column="fileNum"/>
				<result property="fileName" column="fileName"/>
				<result property="originName" column="originName"/>
			</collection>
		</resultMap> 
		
		<select id="getTotalCount" resultType="Long" parameterType="Pager">
			SELECT count(productNum) FROM product
      WHERE productName LIKE CONCAT('%', #{search}, '%') OR 
      locationCode IN (SELECT locationCode FROM location WHERE locationName LIKE concat('%', #{search}, '%'))
      AND productNum > 0

		</select>
		
		<update id="setHitUpdate" parameterType="ProductVO">
			UPDATE product SET productHit=productHit+1 WHERE productNum=#{productNum}
		</update>


		<delete id="setDelete" parameterType="ProductVO">
			DELETE FROM product WHERE productNum=#{productNum}
		</delete>

		<insert id="setInsert" parameterType="ProductVO">
			insert into product 
			(productNum, productName, username, categoryCode, productDate, productHit, productHeart, productContent, 
			productPrice, productNego, locationCode)
			 values (#{productNum}, #{productName}, #{username}, #{categoryCode}, NOW(), 0, 0, 
			 #{productContent}, #{productPrice}, 0, #{locationCode})
		</insert>
		
		<update id="setHeart" parameterType="Hashmap">
			UPDATE heart SET heartCheck = heartCheck+1 WHERE username=#{username} AND productNum=#{productNum}
		</update>
		
		
		<update id="setHeartDelete" parameterType="Hashmap">
			UPDATE heart SET heartCheck = 0 WHERE username=#{username} AND productNum=#{productNum}
		</update>
		
</mapper>   

